---
http_interactions:
- request:
    method: get
    uri: http://open.localtunnel.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"host": "3pts.localtunnel.com", "through_port": 32008, "banner":
        "This localtunnel service is brought to you by Twilio.", "user": "localtunnel"}'
  recorded_at: Mon, 01 Oct 2012 16:13:14 GMT
- request:
    method: post
    uri: http://username:password@ondemand.saucelabs.com/wd/hub/session
    body:
      encoding: UTF-8
      string: ! '{"desiredCapabilities":{"platform":"VISTA","browserName":"chrome","browser-version":null,"record-screenshots":false,"record-video":false,"idle-timeout":90,"max-duration":180,"name":"Jasmine"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      authorization:
      - Basic cGlwZXdpc2U6ZTA3MDkxYzUtZTFhYy00NzRlLWEzZTEtZGRkYjBiOTRmY2Y3
  response:
    status:
      code: 302
      message: Found
    headers:
      content-type:
      - text/html
      location:
      - http://ondemand.saucelabs.com/wd/hub/session/96193b70d28e4dbbb7b1c338bfee6255
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Mon, 01 Oct 2012 16:13:31 GMT
- request:
    method: get
    uri: http://username:password@ondemand.saucelabs.com/wd/hub/session/96193b70d28e4dbbb7b1c338bfee6255
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - Basic cGlwZXdpc2U6ZTA3MDkxYzUtZTFhYy00NzRlLWEzZTEtZGRkYjBiOTRmY2Y3
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"status": 0, "sessionId": "96193b70d28e4dbbb7b1c338bfee6255", "hCode":
        15202027, "value": {"rotatable": false, "browserConnectionEnabled": false,
        "acceptSslCerts": false, "cssSelectorsEnabled": true, "javascriptEnabled":
        true, "nativeEvents": true, "databaseEnabled": false, "chrome.chromedriverVersion":
        "21.0.1180.4", "locationContextEnabled": false, "platform": "XP", "browserName":
        "chrome", "takesScreenshot": true, "hasMetadata": true, "version": "21.0.1180.83",
        "applicationCacheEnabled": false, "webStorageEnabled": true, "handlesAlerts":
        true, "chrome.nativeEvents": false}, "class": "org.openqa.selenium.remote.Response"}'
  recorded_at: Mon, 01 Oct 2012 16:13:31 GMT
- request:
    method: post
    uri: http://username:password@ondemand.saucelabs.com/wd/hub/session/96193b70d28e4dbbb7b1c338bfee6255/url
    body:
      encoding: UTF-8
      string: ! '{"url":"http://3pts.localtunnel.com/jasmine"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      authorization:
      - Basic cGlwZXdpc2U6ZTA3MDkxYzUtZTFhYy00NzRlLWEzZTEtZGRkYjBiOTRmY2Y3
  response:
    status:
      code: 204
      message: No Content
    headers:
      content-type:
      - text/plain
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Mon, 01 Oct 2012 16:14:26 GMT
- request:
    method: post
    uri: http://username:password@ondemand.saucelabs.com/wd/hub/session/96193b70d28e4dbbb7b1c338bfee6255/execute
    body:
      encoding: UTF-8
      string: ! '{"script":"return jsApiReporter && jsApiReporter.started","args":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      authorization:
      - Basic cGlwZXdpc2U6ZTA3MDkxYzUtZTFhYy00NzRlLWEzZTEtZGRkYjBiOTRmY2Y3
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"status": 0, "sessionId": "96193b70d28e4dbbb7b1c338bfee6255", "hCode":
        26030331, "class": "org.openqa.selenium.remote.Response", "value": true}'
  recorded_at: Mon, 01 Oct 2012 16:14:26 GMT
- request:
    method: post
    uri: http://username:password@ondemand.saucelabs.com/wd/hub/session/96193b70d28e4dbbb7b1c338bfee6255/execute
    body:
      encoding: UTF-8
      string: ! '{"script":"var result = jsApiReporter.suites(); if (window.Prototype
        && Object.toJSON) { return Object.toJSON(result) } else { return JSON.stringify(result)
        }","args":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      authorization:
      - Basic cGlwZXdpc2U6ZTA3MDkxYzUtZTFhYy00NzRlLWEzZTEtZGRkYjBiOTRmY2Y3
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"status": 0, "sessionId": "96193b70d28e4dbbb7b1c338bfee6255", "hCode":
        27635615, "class": "org.openqa.selenium.remote.Response", "value": "[{\"id\":0,\"name\":\"Document
        Model\",\"type\":\"suite\",\"children\":[{\"id\":1,\"name\":\"URL\",\"type\":\"suite\",\"children\":[{\"id\":0,\"name\":\"when
        new\",\"type\":\"spec\",\"children\":[]},{\"id\":1,\"name\":\"when is not
        new\",\"type\":\"spec\",\"children\":[]}]}]},{\"id\":2,\"name\":\"Documents
        Router\",\"type\":\"suite\",\"children\":[{\"id\":3,\"name\":\"routes\",\"type\":\"suite\",\"children\":[{\"id\":2,\"name\":\"fires
        index on blank hash\",\"type\":\"spec\",\"children\":[]},{\"id\":3,\"name\":\"fires
        new\",\"type\":\"spec\",\"children\":[]},{\"id\":4,\"name\":\"fires edit\",\"type\":\"spec\",\"children\":[]}]}]}]"}'
  recorded_at: Mon, 01 Oct 2012 16:14:26 GMT
[...]
- request:
    method: post
    uri: http://username:password@ondemand.saucelabs.com/wd/hub/session/96193b70d28e4dbbb7b1c338bfee6255/execute
    body:
      encoding: UTF-8
      string: ! '{"script":"var result = jsApiReporter.resultsForSpecs([0,1,2,3,4]);
        if (window.Prototype && Object.toJSON) { return Object.toJSON(result) } else
        { return JSON.stringify(result) }","args":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      authorization:
      - Basic cGlwZXdpc2U6ZTA3MDkxYzUtZTFhYy00NzRlLWEzZTEtZGRkYjBiOTRmY2Y3
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"status": 0, "sessionId": "96193b70d28e4dbbb7b1c338bfee6255", "hCode":
        26665270, "class": "org.openqa.selenium.remote.Response", "value": "{\"0\":{\"result\":\"passed\",\"messages\":[{\"passed\":true,\"type\":\"expect\",\"message\":\"Passed.\",\"trace\":{}}]},\"1\":{\"result\":\"failed\",\"messages\":[{\"passed\":false,\"type\":\"expect\",\"message\":\"Expected
        ''documents/1'' to equal ''documents/2''.\",\"trace\":{\"stack\":\"Error:
        Expected ''documents/1'' to equal ''documents/2''.\\n    at new jasmine.ExpectationResult
        (http://3pts.localtunnel.com/assets/jasmine.js?body=1:102:32)\\n    at null.toEqual
        (http://3pts.localtunnel.com/assets/jasmine.js?body=1:1166:29)\\n    at null.<anonymous>
        (http://3pts.localtunnel.com/assets/app/models/document_spec.js?body=1:13:43)\\n    at
        jasmine.Block.execute (http://3pts.localtunnel.com/assets/jasmine.js?body=1:996:15)\\n    at
        jasmine.Queue.next_ (http://3pts.localtunnel.com/assets/jasmine.js?body=1:1785:31)\\n    at
        jasmine.Queue.start (http://3pts.localtunnel.com/assets/jasmine.js?body=1:1738:8)\\n    at
        jasmine.Spec.execute (http://3pts.localtunnel.com/assets/jasmine.js?body=1:2065:14)\\n    at
        jasmine.Queue.next_ (http://3pts.localtunnel.com/assets/jasmine.js?body=1:1785:31)\\n    at
        onComplete (http://3pts.localtunnel.com/assets/jasmine.js?body=1:1781:18)\\n    at
        jasmine.Spec.finish (http://3pts.localtunnel.com/assets/jasmine.js?body=1:2039:5)\"}}]},\"2\":{\"result\":\"passed\",\"messages\":[{\"passed\":true,\"type\":\"expect\",\"message\":\"Passed.\",\"trace\":{}}]},\"3\":{\"result\":\"passed\",\"messages\":[{\"passed\":true,\"type\":\"expect\",\"message\":\"Passed.\",\"trace\":{}}]},\"4\":{\"result\":\"passed\",\"messages\":[{\"passed\":true,\"type\":\"expect\",\"message\":\"Passed.\",\"trace\":{}},{\"passed\":true,\"type\":\"expect\",\"message\":\"Passed.\",\"trace\":{}}]}}"}'
  recorded_at: Mon, 01 Oct 2012 16:14:26 GMT
- request:
    method: delete
    uri: http://username:password@ondemand.saucelabs.com/wd/hub/session/96193b70d28e4dbbb7b1c338bfee6255
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - Basic cGlwZXdpc2U6ZTA3MDkxYzUtZTFhYy00NzRlLWEzZTEtZGRkYjBiOTRmY2Y3
  response:
    status:
      code: 204
      message: No Content
    headers:
      content-type:
      - text/plain
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Mon, 01 Oct 2012 16:14:28 GMT
recorded_with: VCR 2.2.5
