---
http_interactions:
- request:
    method: get
    uri: http://open.localtunnel.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"host": "3pts.localtunnel.com", "through_port": 32009, "banner":
        "This localtunnel service is brought to you by Twilio.", "user": "localtunnel"}'
  recorded_at: Mon, 01 Oct 2012 16:07:57 GMT
- request:
    method: post
    uri: http://username:password@ondemand.saucelabs.com/wd/hub/session
    body:
      encoding: UTF-8
      string: ! '{"desiredCapabilities":{"platform":"VISTA","browserName":"chrome","browser-version":null,"record-screenshots":false,"record-video":false,"idle-timeout":90,"max-duration":180,"name":"Jasmine"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      authorization:
      - Basic cGlwZXdpc2U6ZTA3MDkxYzUtZTFhYy00NzRlLWEzZTEtZGRkYjBiOTRmY2Y3
  response:
    status:
      code: 302
      message: Found
    headers:
      content-type:
      - text/html
      location:
      - http://ondemand.saucelabs.com/wd/hub/session/be7b2df1123741d2afe6e2e39c34c772
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Mon, 01 Oct 2012 16:08:25 GMT
- request:
    method: get
    uri: http://username:password@ondemand.saucelabs.com/wd/hub/session/be7b2df1123741d2afe6e2e39c34c772
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - Basic cGlwZXdpc2U6ZTA3MDkxYzUtZTFhYy00NzRlLWEzZTEtZGRkYjBiOTRmY2Y3
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"status": 0, "sessionId": "be7b2df1123741d2afe6e2e39c34c772", "hCode":
        25537913, "value": {"rotatable": false, "browserConnectionEnabled": false,
        "acceptSslCerts": false, "cssSelectorsEnabled": true, "javascriptEnabled":
        true, "nativeEvents": true, "databaseEnabled": false, "chrome.chromedriverVersion":
        "21.0.1180.4", "locationContextEnabled": false, "platform": "XP", "browserName":
        "chrome", "takesScreenshot": true, "hasMetadata": true, "version": "21.0.1180.83",
        "applicationCacheEnabled": false, "webStorageEnabled": true, "handlesAlerts":
        true, "chrome.nativeEvents": false}, "class": "org.openqa.selenium.remote.Response"}'
  recorded_at: Mon, 01 Oct 2012 16:08:25 GMT
- request:
    method: post
    uri: http://username:password@ondemand.saucelabs.com/wd/hub/session/be7b2df1123741d2afe6e2e39c34c772/url
    body:
      encoding: UTF-8
      string: ! '{"url":"http://3pts.localtunnel.com/jasmine"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      authorization:
      - Basic cGlwZXdpc2U6ZTA3MDkxYzUtZTFhYy00NzRlLWEzZTEtZGRkYjBiOTRmY2Y3
  response:
    status:
      code: 204
      message: No Content
    headers:
      content-type:
      - text/plain
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Mon, 01 Oct 2012 16:08:59 GMT
- request:
    method: post
    uri: http://username:password@ondemand.saucelabs.com/wd/hub/session/be7b2df1123741d2afe6e2e39c34c772/execute
    body:
      encoding: UTF-8
      string: ! '{"script":"return jsApiReporter && jsApiReporter.started","args":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      authorization:
      - Basic cGlwZXdpc2U6ZTA3MDkxYzUtZTFhYy00NzRlLWEzZTEtZGRkYjBiOTRmY2Y3
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"status": 0, "sessionId": "be7b2df1123741d2afe6e2e39c34c772", "hCode":
        2416253, "class": "org.openqa.selenium.remote.Response", "value": true}'
  recorded_at: Mon, 01 Oct 2012 16:08:59 GMT
- request:
    method: post
    uri: http://username:password@ondemand.saucelabs.com/wd/hub/session/be7b2df1123741d2afe6e2e39c34c772/execute
    body:
      encoding: UTF-8
      string: ! '{"script":"var result = jsApiReporter.suites(); if (window.Prototype
        && Object.toJSON) { return Object.toJSON(result) } else { return JSON.stringify(result)
        }","args":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      authorization:
      - Basic cGlwZXdpc2U6ZTA3MDkxYzUtZTFhYy00NzRlLWEzZTEtZGRkYjBiOTRmY2Y3
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"status": 0, "sessionId": "be7b2df1123741d2afe6e2e39c34c772", "hCode":
        2159159, "class": "org.openqa.selenium.remote.Response", "value": "[{\"id\":0,\"name\":\"Document
        Model\",\"type\":\"suite\",\"children\":[{\"id\":1,\"name\":\"URL\",\"type\":\"suite\",\"children\":[{\"id\":0,\"name\":\"when
        new\",\"type\":\"spec\",\"children\":[]},{\"id\":1,\"name\":\"when is not
        new\",\"type\":\"spec\",\"children\":[]}]}]},{\"id\":2,\"name\":\"Documents
        Router\",\"type\":\"suite\",\"children\":[{\"id\":3,\"name\":\"routes\",\"type\":\"suite\",\"children\":[{\"id\":2,\"name\":\"fires
        index on blank hash\",\"type\":\"spec\",\"children\":[]},{\"id\":3,\"name\":\"fires
        new\",\"type\":\"spec\",\"children\":[]},{\"id\":4,\"name\":\"fires edit\",\"type\":\"spec\",\"children\":[]}]}]}]"}'
  recorded_at: Mon, 01 Oct 2012 16:08:59 GMT
[...]
- request:
    method: post
    uri: http://username:password@ondemand.saucelabs.com/wd/hub/session/be7b2df1123741d2afe6e2e39c34c772/execute
    body:
      encoding: UTF-8
      string: ! '{"script":"var result = jsApiReporter.resultsForSpecs([0,1,2,3,4]);
        if (window.Prototype && Object.toJSON) { return Object.toJSON(result) } else
        { return JSON.stringify(result) }","args":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      authorization:
      - Basic cGlwZXdpc2U6ZTA3MDkxYzUtZTFhYy00NzRlLWEzZTEtZGRkYjBiOTRmY2Y3
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"status": 0, "sessionId": "be7b2df1123741d2afe6e2e39c34c772", "hCode":
        25232872, "class": "org.openqa.selenium.remote.Response", "value": "{\"0\":{\"result\":\"passed\",\"messages\":[{\"passed\":true,\"type\":\"expect\",\"message\":\"Passed.\",\"trace\":{}}]},\"1\":{\"result\":\"passed\",\"messages\":[{\"passed\":true,\"type\":\"expect\",\"message\":\"Passed.\",\"trace\":{}}]},\"2\":{\"result\":\"passed\",\"messages\":[{\"passed\":true,\"type\":\"expect\",\"message\":\"Passed.\",\"trace\":{}}]},\"3\":{\"result\":\"passed\",\"messages\":[{\"passed\":true,\"type\":\"expect\",\"message\":\"Passed.\",\"trace\":{}}]},\"4\":{\"result\":\"passed\",\"messages\":[{\"passed\":true,\"type\":\"expect\",\"message\":\"Passed.\",\"trace\":{}},{\"passed\":true,\"type\":\"expect\",\"message\":\"Passed.\",\"trace\":{}}]}}"}'
  recorded_at: Mon, 01 Oct 2012 16:08:59 GMT
- request:
    method: delete
    uri: http://username:password@ondemand.saucelabs.com/wd/hub/session/be7b2df1123741d2afe6e2e39c34c772
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - Basic cGlwZXdpc2U6ZTA3MDkxYzUtZTFhYy00NzRlLWEzZTEtZGRkYjBiOTRmY2Y3
  response:
    status:
      code: 204
      message: No Content
    headers:
      content-type:
      - text/plain
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Mon, 01 Oct 2012 16:09:01 GMT
recorded_with: VCR 2.2.5
